.Devices {
  flex: 1;
  display: flex;
  margin-top: 48px;
  margin-left: 48px;

  .main {
    .Card {
      margin-top: 24px;
      width: 400px;
    }
  }

  .right {
    margin-left: auto;
    margin-right: 64px;
  }
}
